<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d79f8ec369.js" crossorigin="anonymous"></script>
    <style>
        #responsive-image {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <br><br><br>
        <div class="row">

            <div class="col-md-4">
                <img src="images/logo_aubay.jpg" class="aubay" id="responsive-image">
            </div>
            <div class="col-md-4">

                &nbsp;
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">

                        <!--FORM-->
                        <form action="/sendData" method="post">
                            <bR>
                            <div class="row">
                                <div class="col">

                                    <!--NOME-->
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nome" name="nome" id="cognome">
                                    </div>

                                    <!--NOME-->
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">

                                    <!--COGNOME-->
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-portrait"></i></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Cognome" name="cognome">
                                    </div>
                                    <!--COGNOME-->

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">

                                    <!--EMAIL-->
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-at"></i></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email" name="email">
                                    </div>

                                    <!--EMAIL-->

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">

                                            <!--TELEFONO-->
                                            <div class="input-group-text"><i class="fas fa-phone-alt"></i></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Numero Telefono" name="numeroTelefono">

                                        <!--TELEFONO-->

                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">

                                <div class="col">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">

                                            <!--AZIENDA-->
                                            <div class="input-group-text"><i class="fas fa-building"></i></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Azienda" name="azienda">

                                        <!--AZIENDA-->

                                    </div>
                                </div>
                            </div>
                            <br>
                            <!--FILE SCELTA-->
                            <select class="form-control" name="fileScelta" id="scelta">
                                <option value="">-----</option>
                                <option value="PDF">PDF</option>
                                <option value="DOC">DOC</option>
                            </select>

                            <!--FILE SCELTA-->

                            <br>
                            <button class="btn btn-primary btn-block">RICHIEDI DOCUMENTAZIONE <i class="fas fa-location-arrow"></i></button>
                        </form>
                        <!--FORM-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>