<div class="row" id="this-is-homepage">

    <div class="col-md-4">
        &nbsp;
    </div>
    <div class="col-md-4">

        <div class="card">
            <div class="card-header text-center">
                <h1>LOGIN</h1>
            </div>
            <div class="card-body">

                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" #email="ngModel" [(ngModel)]="service.login.email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input #password="ngModel" type="password" [(ngModel)]="service.login.password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>